/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-okt-07, 12:00:27
    Author     : Bosch
*/

body {
    background-color: #3399ff;
}

#indxdiv {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 80px;
    height: 300px;
    width: 600px;
    margin: auto;
}

#headerindx {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

#theguy {
    position: absolute;
    top: 0px;
    left: 50px;
}

#headimg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 250px;
    height: auto;
}

#headerdiv {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

#usrname {
    
}

#passwrd {
    
}

.auth {
    position: absolute;
    right: 0px;
}

.authText {
    position: absolute;
    left: 0px;
}

#auth {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    height: 60px;
}

#authbtn {
    position: absolute;
    right: 0px;
}

#crtauthbtn {
    position: absolute;
    left: 0px;
}

#authbuttondiv {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    height: 20px;
}
