/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-okt-07, 12:00:27
    Author     : Bosch
*/


#indxbody {
    background-image: url(../img/index1.png);
    background-repeat: repeat;
    background-position: center;
}